/*
This CSS resource incorporates links to font software which is
the valuable copyrighted property of WebType LLC, The Font Bureau,
and/or their suppliers. You may not
attempt to copy, install, redistribute, convert, modify or reverse
engineer this font software. Please contact WebType with any
questions: http://www.webtype.com
*/

@font-face {
  font-family: "Popular";
  src: url("../font/6092a8b6-027b-4263-bc16-f5626ae6b181-2.eot");
  src: url("../font/6092a8b6-027b-4263-bc16-f5626ae6b181-2.eot?") format("embedded-opentype"),
       url("../font/6092a8b6-027b-4263-bc16-f5626ae6b181-3.woff") format("woff"),
       url("../font/6092a8b6-027b-4263-bc16-f5626ae6b181-1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Apres RE";
  src: url("../font/3fc3771e-0026-49ba-8249-d621f41a5a3d-2.eot");
  src: url("../font/3fc3771e-0026-49ba-8249-d621f41a5a3d-2.eot?") format("embedded-opentype"),
       url("../font/3fc3771e-0026-49ba-8249-d621f41a5a3d-3.woff") format("woff"),
       url("../font/3fc3771e-0026-49ba-8249-d621f41a5a3d-1.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Apres RE";
  src: url("../font/ac08d81e-3b92-4712-b31f-47090b0038ca-2.eot");
  src: url("../font/ac08d81e-3b92-4712-b31f-47090b0038ca-2.eot?") format("embedded-opentype"),
       url("../font/ac08d81e-3b92-4712-b31f-47090b0038ca-3.woff") format("woff"),
       url("../font/ac08d81e-3b92-4712-b31f-47090b0038ca-1.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Apres RE";
  src: url("../font/979ef20e-1657-4d09-8cdd-a62552f945ad-2.eot");
  src: url("../font/979ef20e-1657-4d09-8cdd-a62552f945ad-2.eot?") format("embedded-opentype"),
       url("../font/979ef20e-1657-4d09-8cdd-a62552f945ad-3.woff") format("woff"),
       url("../font/979ef20e-1657-4d09-8cdd-a62552f945ad-1.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Apres RE";
  src: url("../font/2187646a-72bd-452a-a308-fc0df59d7788-2.eot");
  src: url("../font/2187646a-72bd-452a-a308-fc0df59d7788-2.eot?") format("embedded-opentype"),
       url("../font/2187646a-72bd-452a-a308-fc0df59d7788-3.woff") format("woff"),
       url("../font/2187646a-72bd-452a-a308-fc0df59d7788-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../font/AvenirLTStd-Black.eot");
  src: url("../font/AvenirLTStd-Black.eot?") format("embedded-opentype"),
       url("../font/AvenirLTStd-Black.woff") format("woff"),
       url("../font/AvenirLTStd-Black.ttf") format("truetype"),
       url("../font/AvenirLTStd-Black.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../font/AvenirLTStd-Medium.eot");
  src: url("../font/AvenirLTStd-Medium.eot?") format("embedded-opentype"),
       url("../font/AvenirLTStd-Medium.woff") format("woff"),
       url("../font/AvenirLTStd-Medium.ttf") format("truetype"),
       url("../font/AvenirLTStd-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../font/AvenirLTStd-Heavy.eot");
  src: url("../font/AvenirLTStd-Heavy.eot?") format("embedded-opentype"),
       url("../font/AvenirLTStd-Heavy.woff") format("woff"),
       url("../font/AvenirLTStd-Heavy.ttf") format("truetype"),
       url("../font/AvenirLTStd-Heavy.svg") format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "AntennaCond-Bold";
  src: url("../font/AntennaCond-Bold.eot");
  src: url("../font/AntennaCond-Bold.eot?") format("embedded-opentype"),
       url("../font/AntennaCond-Bold.woff") format("woff"),
       url("../font/AntennaCond-Bold.ttf") format("truetype"),
       url("../font/AntennaCond-Bold.svg#AntennaCond-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AntennaCond-Bold";
  src: url("../font/AntennaCond-BoldItalic.eot");
  src: url("../font/AntennaCond-BoldItalic.eot?") format("embedded-opentype"),
       url("../font/AntennaCond-BoldItalic.woff") format("woff"),
       url("../font/AntennaCond-BoldItalic.ttf") format("truetype"),
       url("../font/AntennaCond-BoldItalic.svg#AntennaCond-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "AntennaCond-Regular";
  src: url("../font/AntennaCond-Regular.eot");
  src: url("../font/AntennaCond-Regular.eot?") format("embedded-opentype"),
       url("../font/AntennaCond-Regular.woff") format("woff"),
       url("../font/AntennaCond-Regular.ttf") format("truetype"),
       url("../font/AntennaCond-Regular.svg#AntennaCond-Regular") format("svg");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AntennaExtraCond-Black";
  src: url("../font/AntennaExtraCond-Black.eot");
  src: url("../font/AntennaExtraCond-Black.eot?") format("embedded-opentype"),
       url("../font/AntennaExtraCond-Black.woff") format("woff"),
       url("../font/AntennaExtraCond-Black.ttf") format("truetype"),
       url("../font/AntennaExtraCond-Black.svg#AntennaExtraCond-Black") format("svg");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antenna";
  src: url("../font/Antenna-Light.eot");
  src: url("../font/Antenna-Light.eot?") format("embedded-opentype"),
       url("../font/Antenna-Light.woff") format("woff"),
       url("../font/Antenna-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antenna-Regular";
  src: url("../font/Antenna-Regular.eot");
  src: url("../font/Antenna-Regular.eot?") format("embedded-opentype"),
       url("../font/Antenna-Regular.woff") format("woff"),
       url("../font/Antenna-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antenna";
  src: url("../font/Antenna-Medium.eot");
  src: url("../font/Antenna-Medium.eot?") format("embedded-opentype"),
       url("../font/Antenna-Medium.woff") format("woff"),
       url("../font/Antenna-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LCDPhone1";
  src: url("../font/lcdphone1.eot");
  src: url("../font/lcdphone1.eot?") format("embedded-opentype"),
       url("../font/lcdphone1.woff") format("woff"),
       url("../font/lcdphone1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AntennaCond-Light";
  src: url("../font/AntennaCond-Light.eot");
  src: url("../font/AntennaCond-Light.eot?") format("embedded-opentype"),
       url("../font/AntennaCond-Light.woff") format("woff"),
       url("../font/AntennaCond-Light.ttf") format("truetype"),
       url("../font/AntennaCond-Light.svg#AntennaCond-Light") format("svg");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoePro-Regular";
  src: url("../font/SegoePro-Regular.eot");
  src: url("../font/SegoePro-Regular.eot?") format("embedded-opentype"),
       url("../font/SegoePro-Regular.woff") format("woff"),
       url("../font/SegoePro-Regular.ttf") format("truetype"),
       url("../font/SegoePro-Regular.svg") format("svg");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoePro-Semilight";
  src: url("../font/SegoePro-Semilight.eot");
  src: url("../font/SegoePro-Semilight.eot?") format("embedded-opentype"),
       url("../font/SegoePro-Semilight.woff") format("woff"),
       url("../font/SegoePro-Semilight.ttf") format("truetype"),
       url("../font/SegoePro-Semilight.svg") format("svg");

  font-weight: normal;
  font-style: normal;
}
