/*!
 *  SN Icon Font -- Created with https://icomoon.io/app
 */
/* FONT PATH
 * -------------------------- */
@font-face {
	font-family: 'SNIconFont';
	src:url('../font/sn-icon-font.eot?-f3kre1');
	src:url('../font/sn-icon-font.eot?#iefix-f3kre1') format('embedded-opentype'),
		url('../font/sn-icon-font.woff?-f3kre1') format('woff'),
		url('../font/sn-icon-font.ttf?-f3kre1') format('truetype'),
		url('../font/sn-icon-font.svg?-f3kre1#SNIconFont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sn-icon-font"], [class*=" sn-icon-font-"] {
	display: inline-block;
	font-family: 'SNIconFont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.sn-icon-font-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.sn-icon-font-2x {
  font-size: 2em;
}
.sn-icon-font-3x {
  font-size: 3em;
}
.sn-icon-font-4x {
  font-size: 4em;
}
.sn-icon-font-5x {
  font-size: 5em;
}
.sn-icon-font-fw {
  width: 1.28571429em;
  text-align: center;
}
.sn-icon-font-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.sn-icon-font-ul > li {
  position: relative;
}
.sn-icon-font-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.sn-icon-font-li.sn-icon-font-lg {
  left: -1.85714286em;
}
.sn-icon-font-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.sn-icon-font.pull-left {
  margin-right: .3em;
}
.sn-icon-font.pull-right {
  margin-left: .3em;
}
.sn-icon-font-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.sn-icon-font-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sn-icon-font-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sn-icon-font-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sn-icon-font-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.sn-icon-font-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.sn-icon-font-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.sn-icon-font-stack-1x,
.sn-icon-font-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.sn-icon-font-stack-1x {
  line-height: inherit;
}
.sn-icon-font-stack-2x {
  font-size: 2em;
}
.sn-icon-font-inverse {
  color: #ffffff;
}
.sn-icon-font-external:before {
  content: "\e900";
}

.sn-icon-font-swiperight:before {
  content: "\e60f";
}

.sn-icon-font-swipeleft:before {
  content: "\e610";
}

.sn-icon-font-newsletter:before {
  content: "\e60e";
}

.sn-icon-font-nba-draft:before {
  content: "\e600";
}

.sn-icon-font-nfl-draft:before {
  content: "\e60c";
}

.sn-icon-font-bracket:before {
  content: "\e601";
}

.sn-icon-font-mlb:before,
.sn-icon-font-baseball:before {
	content: "\e602";
}
.sn-icon-font-nba:before,
.sn-icon-font-ncaab:before,
.sn-icon-font-ncaa-basketball:before,
.sn-icon-font-basketball:before {
	content: "\e603";
}
.sn-icon-font-nfl:before,
.sn-icon-font-ncaaf:before,
.sn-icon-font-ncaa-football:before,
.sn-icon-font-football:before {
	content: "\e604";
}
.sn-icon-font-linemakers:before {
	content: "\e605";
}
.sn-icon-font-logo:before {
	content: "\e606";
}
.sn-icon-font-fantasy:before {
	content: "\e607";
}
.sn-icon-font-soccer:before {
	content: "\e608";
}
.sn-icon-font-nascar:before,
.sn-icon-font-motorsport:before {
	content: "\e609";
}
.sn-icon-font-nhl:before,
.sn-icon-font-hockey:before {
	content: "\e60a";
}
.sn-icon-font-scores:before {
	content: "\e60b";
}
.sn-icon-font-photos:before {
	content: "\e60d";
}
